.btn{
  margin: 40px 40px;
  padding: 24px 36px;
  border-radius: 30px;
  color: rgb(247, 239, 239);
  background-color: rgb(0, 81, 255);
  font-size: 20px;
}

.btn:hover{
  opacity: 0.8;
  background-color: rgb(13, 84, 236);
  cursor: pointer;
}

.btn:focus{
  outline: 1px none rgb(212, 212, 212);
  border-radius: 29px;
}